    <div class="catalogue-item">
        <time datetime="{{ .PublishDate }}" class="catalogue-time">{{ i18n "publishdate" . }}</time>
        <h1 class="catalogue-title"><a style="color:inherit" href="{{ .Permalink }}">{{ .Title }}</a></h1>
        <p>
            {{ if isset .Params "summary" }}{{ .Params.Summary }}{{ else }}{{ .Summary }}{{ end }}
            {{ if .Truncated }}
                <!-- This <div> includes a read more link, but only if the summary is truncated... -->
                <div>
                    <a href="{{ .RelPermalink }}">Read More…</a>
                </div>
            {{ end }}
        </p>
    </div>
